on:
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v5
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install the project
        run: uv sync --locked
      - name: Install Playwright browsers
        run: uv run playwright install chromium
      - name: Build slides
        run: for slide in $(ls -d slides/*); do uv run mkslides build $slide --config-file $slide/mkslides.yml --site-dir ./site/$slide; done
      - name: Build tutorials
        run: for tutorial in $(ls -d tutorials/**/*); do uv run python render.py pdf $tutorial; done
      - name: Generate index
        run: cd site && for thing in $(ls -d **/*.html); do echo "<a href=\"$thing/index.html\">$thing</a><br>" >> ./index.html; done
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./site
      - id: deployment
        uses: actions/deploy-pages@v4
