on:
  push:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v5
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install the project
        run: uv sync --locked
      - name: Install Playwright browsers
        run: uv run playwright install chromium
      - name: Build slides
        run: for course in $(ls -d slides/*); do uv run mkslides build $course --config-file $course/mkslides.yml --site-dir ./site/$course; done && \
             for course in $(ls -d slides/*); do uv run python scripts/render-slides.py ./site/$course; done
      - name: Build tutorials
        run: for tutorial in $(ls -d tutorials/**/*); do uv run python render.py pdf $tutorial; done
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./site
      - id: deployment
        uses: actions/deploy-pages@v4
